<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Психолог</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>
   <div class="header">
     <img src="./img/Эллипс 1.png" class="logo">
       <div class="main-text">Кабинет Психолога Имени Фамилии</div> 
              <div class="menu">
            <img src="./img/Прямоугольник 2.png" class="menu-one"> 
            <img src="./img/Прямоугольник 2.png" class="menu-two"> 
            <img src="./img/Прямоугольник 2.png" class="menu-three"> 
            </div>
  </div>
  <div class="container">
     <div class="background">
      <img src="./img/Фон. 2.png" class="shadow"></div>
        <div class="link"><a class="button" href="#"></a></div>
         <a class="txt" href="#">ЗАПИСАТЬСЯ НА ПРИЕМ</a>
  </div>
  <div class="description">
    <div class="desc_top"> 
      <div class="desc_top_img">
        <img src="./img/Фото 1.png"></div>
         <div class="desc_content">
           <p class="name">Имя Фамилия</p>
           <p class="spec">психотерапевт такой то специализации</p>
         </div>
    </div>
    <div class="about">
      Тут психолог рассказывает о своей специалзации, </br>
      своем опыте, приводит успешные кейсы и рассказывает,</br> 
      что она лучший специалист в городе</br>
      Тут психолог рассказывает о своей специалзации, </br>
      своем опыте, приводит успешные кейсы и рассказывает, </br>
      что она лучший специалист в городе</br>
      <div class="list">Причины посетить психотерапевта</div>
       <ul class="reasons">
        <li>причина номер раз</li>
        <li>причина номер два</li>
        <li>причина номер три</li>
        <li>причина номер четыре</li>
        <li>причина номер пять</li>
        <li>причина номер шесть</li>
        <li>причина номер семь</li>
       </ul>
       <div class="link_two"><a class="button_two" href="#"></a></div>
         <a class="txt_two" href="#">ЗАПИСАТЬСЯ НА ПРИЕМ</a>
      </div>
  </div>    
  <div class="footer">
   <img src="./img/Эллипс 2.png" class="foot_logo">
    <div class="map">
      ул. Кудрявцева 37, каб. 17
    </div>
    <div class="cont">
      <p><a href="tel:+38 (099) 9519551" class="tel">+38 (099) 9519551</a></p>
      <p></p><a href="mailto:psycho@gmail.com" class="mail">psycho@gmail.com</a></p>
    </div>





  </div>    
</body>
</html>